@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;
}

html,
body,
#root {
  margin: 0 !important;
  padding: 0 !important;
}
